# Conda / environments
miniconda3/
anaconda3/
.env/
.venv/
conda-env/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Compressed data/zips
*.tar.gz

# folders
data/
wandb/
pokemon-tcg-data/

#My Notes
notes.md

#dont expose api key
wandb_api_key.txt
pokemon_tcg_api_key.txt

# just to check images
check.py